/* Center align the form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Style the textboxes and textarea */
input[type="text"], textarea {
      /*width: 300px;
      height: 30px;*/
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 18px;
    }
    /* Style the button */
    button {
      padding: 10px 20px;
      font-size: 18px;
      background-color: blue;
      color: white;
      border: none;
      border-radius: 5px;
    }
    table {
      width: 90%;
    }
    .twenty {
      width: 10%;
    }
    .fourty {
      width: 40%;
    }
